<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <button ng-click="displayStudents()" type="button" class="btn btn-link">Students</button>
        </div>
        <div class="col-xs-6 col-md-4">
            <button ng-click="displayClasses()"  type="button" class="btn btn-link">Classes</button>
        </div>
        <div class="col-xs-6 col-md-4">
            <button ng-click="displayRegistrations()" type="button" class="btn btn-link">Registration</button>
        </div>

        <!-- Student section -->
        <div class="container" ng-show="showStudents">
            <button ng-click="addStudent()" type="button" class="btn btn-link" ng-hide="shouldShowStudentForm">Add Student</button>

            <form class="form-horizontal" novalidate name="addStudent_form" ng-submit="submitStudentForm()" ng-show="shouldShowStudentForm">
                <div class="container">
                    <h4 class=text-left" >{{addStudent_form.title}}</h4>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="firstName"
                                   class="form-control"
                                   placeholder="First Name"
                                   ng-model="student.firstName"
                                   required/>
                            <div class="error-container"
                                 ng-show="addStudent_form.firstName.$dirty && addStudent_form.firstName.$invalid">
                                <small ng-show="addStudent_form.firstName.$error.required">
                                    First name is required.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="lastName"
                                   class="form-control"
                                   placeholder="Last Name"
                                   ng-model="student.lastName"
                                   required/>
                            <div class="error-container"
                                 ng-show="addStudent_form.lastName.$dirty && addStudent_form.lastName.$invalid">
                                <small ng-show="addStudent_form.lastName.$error.required">
                                    Last name is required.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Age</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="age"
                                   class="form-control"
                                   placeholder="Age"
                                   ng-model="student.age"
                                   required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Photo</label>
                        <div class="col-sm-10">
                            <img ng-src="{{student.photoUrl}}" width="100" height="100" class="img-thumbnail"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" ng-click="selectFile()">Upload Your Photo</button>
                            <input type="file"
                                   style="display:none"
                                   id="file"
                                   name='file'
                                   onchange="angular.element(this).scope().fileNameChanged(this)"/>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-default">{{addStudent_form.submitText}}</button>
                    </div>
                </div>


            </form>

            <div class="container">
                <h4 class=text-left" >Current Students</h4>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Modify</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in students">
                        <td><img ng-src="{{student.photoUrl}}" width="100" height="100" class="img-thumbnail"></td>
                        <td>{{student.firstName}}</td>
                        <td>{{student.lastName}}</td>
                        <td>{{student.age}}</td>
                        <td>
                            <button type="button" class="btn btn-link" ng-click="editStudent(student)">Edit</button>
                            <button type="button" class="btn btn-link" ng-click="deleteStudent(student.id)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Class section -->
        <div class="container" ng-show="showClasses">
            <button ng-click="addClass()" type="button" class="btn btn-link" ng-hide="shouldShowClassForm">Add Classes</button>

            <form class="form-horizontal" novalidate name="addClass_form" ng-submit="submitClassForm()" ng-show="shouldShowClassForm">
                <div class="container">
                    <h4 class=text-left" >{{addClass_form.title}}</h4>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   placeholder="Class name"
                                   name="name"
                                   ng-model="class.name"
                                   required
                                   class="form-control"/>
                            <div ng-show="addClass_form.name.$dirty && addClass_form.name.$invalid">
                                <small ng-show="addClass_form.name.$error.required">
                                    Class name is required.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Building Number</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="buildingName"
                                   class="form-control"
                                   placeholder="Building number"
                                   ng-model="class.buildingName"
                                   required/>
                            <div ng-show="addClass_form.buildingName.$dirty && addClass_form.buildingName.$invalid">
                                <small ng-show="addClass_form.buildingName.$error.required">
                                    Building number is required.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Floor</label>
                        <div class="col-sm-10">
                            <input type="number"
                                   name="floor"
                                   class="form-control"
                                   placeholder="Floor"
                                   ng-model="class.floor"
                                   required/>
                            <div ng-show="addClass_form.floor.$dirty && addClass_form.floor.$invalid">
                                <small ng-show="addClass_form.floor.$error.required">
                                    Floor is required.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div ng-show="addClass_form.submitted && addClass_form.errorSave">
                        <small>
                            Oops something went wrong! Please try again.
                        </small>
                    </div>

                    <button type="submit" class="btn btn-default">{{addClass_form.submitText}}</button>
                </div>
            </form>

            <div class="container">
                <h4 class="text-left">Available Classes</h4>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">Class</th>
                    <th class="text-center">Building Name</th>
                    <th class="text-center">Floor</th>
                    <th class="text-center">Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="class in classes">
                    <td class="text-center">{{class.get('name')}}</td>
                    <td class="text-center">{{class.get('buildingName')}}</td>
                    <td class="text-center">{{class.get('floor')}}</td>
                    <td>
                        <button type="button" class="btn btn-link" ng-click="editClass(class)">Edit</button>
                        <button type="button" class="btn btn-link" ng-click="deleteClass(class)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <!-- Registration section -->
        <div class="container" ng-show="showRegistrations">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Class</th>
                    <th>Students</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="registration in registrations">
                        <td>{{registration.classItem.get('name')}}</td>
                        <td>
                            <ul>
                                <li ng-repeat="student in registration.students">
                                    <button type="button"
                                            class="btn btn-link"
                                            ng-click="removeStudentFromClass(student, registration.classItem)">
                                        {{student.get('firstName')}} {{student.get('lastName')}}
                                    </button>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-info" ng-click="registerStudent(registration.classItem)">Add</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>